* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", serif;
}

body {
    background: #e3abab;
}


.page {
    width: 900px;
    margin: 20px auto;
    background: #f3e4a5;
    border: 4px solid #ffffff;
}

.header {
    position: relative;
    width: 100%;
}

.header img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    display: block;
}

.header-text {
    position: absolute;
    bottom: 30px;
    left: 40px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}

.header-text h1 {
    color: #ffffff; /* WHITE NATURE */
    font-size: 36px;
    letter-spacing: 6px;
}

.header-text p {
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 215, 15);
}


.content {
    display: flex;
}

.main {
    width: 65%;
    padding: 20px;
}

.main h2 {
    color: #b44a00;
    margin: 20px 0 5px;
    font-size: 16px;
}

.main p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.sidebar {
    width: 35%;
    background: #f0c86b;
    padding: 20px;
    border-left: 2px dotted #a27c2f;
}

.sidebar h3 {
    background: #6d6a2e;
    color: white;
    padding: 6px;
    font-size: 14px;
    margin-bottom: 10px;
}

.sidebar h4 {
    margin-top: 10px;
    font-size: 14px;
}

.sidebar ul {
    list-style: square;
    margin-left: 20px;
}

.sidebar li {
    margin-bottom: 6px;
}

.sidebar a {
    color: #0033cc;
    font-size: 13px;
    text-decoration: underline;
}

.footer {
    position: relative;
}

.footer img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    display: block;
}

.footer-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}
